temp_workflows.json
{"data":[{"updatedAt":"2026-05-18T22:19:16.523Z","createdAt":"2026-05-18T22:19:16.523Z","id":"Sc3eDC6UOAECg5lG","name":"Importar Extrato","active":false,"isArchived":false,"nodes":[{"id":"node1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"importar-extrato","responseMode":"responseNode","options":{}},"webhookId":"8c5086a4-cdc1-479f-8f88-e40a24dd9282"},{"id":"node2","name":"Validar Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"jsCode":"const body = $input.item.json.body || {};\nconst requiredFields = ['user_id', 'file_type', 'content'];\n\nfor (const field of requiredFields) {\n  if (!body[field]) {\n    return [{ json: { __error: true, __status: 400, error: `Campo '${field}' ausente` } }];\n  }\n}\n\nreturn [{ json: { ...body, __error: false } }];"}},{"id":"node2b","name":"Payload Válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,300],"parameters":{"conditions":{"conditions":[{"id":"cond-payload-error","leftValue":"={{ $json.__error }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}}},{"id":"node3","name":"Preparar Conteúdo","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,180],"parameters":{"jsCode":"const data = $input.item.json;\nconst { user_id, file_name, file_type, content } = data;\n\nlet prepared_content;\nif (file_type === 'pdf') {\n  prepared_content = Buffer.from(content, 'base64').toString('utf-8');\n} else {\n  prepared_content = content;\n}\n\nreturn [{ json: { user_id, file_name, file_type, prepared_content } }];"}},{"id":"node4","name":"Gemini — Extrair Transações","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,180],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $env.GEMINI_API_KEY }}"}]},"sendBody":true,"contentType":"json","body":{"contents":[{"parts":[{"text":"=Você é um parser de extratos bancários brasileiros.\nAnalise o conteúdo abaixo e extraia TODAS as transações financeiras.\n\nRetorne APENAS um array JSON válido, sem markdown, sem explicações.\nCada item deve ter exatamente estes campos:\n- description: string (descrição da transação)\n- amount: number (valor positivo, sem símbolo de moeda)\n- type: \"income\" ou \"expense\" (crédito = income, débito = expense)\n- date: string no formato \"YYYY-MM-DD\"\n\nSe não houver transações identificáveis, retorne: []\n\nConteúdo do extrato:\n{{ $json.prepared_content }}"}]}]},"options":{}}},{"id":"node5","name":"Parsear Resposta Gemini","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,180],"parameters":{"jsCode":"const text = $input.item.json.candidates[0].content.parts[0].text;\nconst cleaned = text.replace(/```json|```/g, '').trim();\n\nlet parsedArray;\ntry {\n  parsedArray = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { __error: true, __status: 422, error: 'Não foi possível interpretar o extrato' } }];\n}\n\nif (!Array.isArray(parsedArray)) {\n  return [{ json: { __error: true, __status: 422, error: 'Não foi possível interpretar o extrato' } }];\n}\n\n// Limite de segurança: máximo 500 transações por importação\nif (parsedArray.length > 500) {\n  return [{ json: { __error: true, __status: 422, error: 'Extrato contém mais de 500 transações. Divida o arquivo.' } }];\n}\n\n// Validação de schema de cada transação\nconst validItems = parsedArray.filter(t => {\n  if (typeof t !== 'object' || t === null) return false;\n  if (typeof t.description !== 'string' || t.description.trim().length === 0 || t.description.length > 255) return false;\n  if (typeof t.amount !== 'number' || t.amount <= 0 || t.amount > 999999) return false;\n  if (t.type !== 'income' && t.type !== 'expense') return false;\n  if (!t.date || isNaN(new Date(t.date).getTime())) return false;\n  return true;\n});\n\nconst user_id = $('Preparar Conteúdo').item.json.user_id;\nreturn [{ json: { transactions: validItems, user_id, __error: false } }];"}},{"id":"node5b","name":"Gemini Válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1680,180],"parameters":{"conditions":{"conditions":[{"id":"cond-gemini-error","leftValue":"={{ $json.__error }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}}},{"id":"node6","name":"Validar Transações","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,120],"parameters":{"jsCode":"const { transactions, user_id } = $input.item.json;\n\nconst validTransactions = transactions.filter(t => {\n  const amountValid = typeof t.amount === 'number' && t.amount > 0;\n  const typeValid = t.type === 'income' || t.type === 'expense';\n  const dateValid = t.date && !isNaN(new Date(t.date).getTime());\n  return amountValid && typeValid && dateValid;\n});\n\nreturn [{ json: { validTransactions, user_id } }];"}},{"id":"node7","name":"Tem Transações?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2160,120],"parameters":{"conditions":{"conditions":[{"id":"cond-has-transactions","leftValue":"={{ $json.validTransactions.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node8","name":"Split em Itens","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2400,60],"parameters":{"batchSize":1,"options":{}}},{"id":"node9","name":"Gemini — Classificar","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2640,60],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $env.GEMINI_API_KEY }}"}]},"sendBody":true,"contentType":"json","body":{"contents":[{"parts":[{"text":"=Analise esta transação financeira e retorne um JSON.\n\nDescrição: {{ $json.description }}\nTipo: {{ $json.type }}\nValor: R$ {{ $json.amount }}\n\nRegras:\n- Confirme ou corrija a categoria para uma destas: Salário, Freelance, Alimentação, Moradia, Transporte, Saúde, Educação, Lazer, Outros\n- Determine se é gasto ESSENCIAL (necessidade básica: alimentação, moradia, saúde, transporte, educação) ou SUPÉRFLUO (lazer, luxo, entretenimento)\n- Entradas (salário, freelance) são sempre essential: false\n\nResponda APENAS com JSON válido: {\"category\": \"NomeCategoria\", \"essential\": true}"}]}]},"options":{}}},{"id":"node10","name":"Extrair Classificação","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,60],"parameters":{"jsCode":"const text = $input.item.json.candidates[0].content.parts[0].text;\nlet category = 'Outros';\nlet essential = false;\n\ntry {\n  const cleaned = text.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  category = parsed.category || 'Outros';\n  essential = parsed.essential === true;\n} catch (e) {}\n\n// Use $input.item.json directly — inside SplitInBatches the current item is the transaction\nconst transaction = $input.item.json;\nconst user_id = $('Validar Transações').item.json.user_id;\n\nreturn [{ json: {\n  user_id,\n  description: transaction.description,\n  amount: transaction.amount,\n  type: transaction.type,\n  date: transaction.date,\n  category,\n  essential\n} }];"}},{"id":"node11","name":"Agregar Transações","type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,60],"parameters":{"mode":"runOnceForAllItems","jsCode":"const allItems = $input.all();\nconst allTransactions = allItems.map(item => item.json);\n\nreturn [{ json: {\n  transactions: allTransactions,\n  user_id: allTransactions[0]?.user_id\n} }];"}},{"id":"node12","name":"Inserir no Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3360,60],"parameters":{"method":"POST","url":"https://unzbihwswuwypovleckc.supabase.co/rest/v1/transactions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"rawBody","body":"={{ JSON.stringify($json.transactions) }}","options":{}}},{"id":"node13","name":"Responder Sucesso","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3600,60],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, imported: Array.isArray($json) ? $json.length : 0 }) }}","options":{"responseCode":200}}},{"id":"node14","name":"Responder Zero","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2400,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, imported: 0 }) }}","options":{"responseCode":200}}},{"id":"node15","name":"Responder Erro","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,480],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, error: $json.error || 'Erro interno' }) }}","options":{"responseCode":"={{ $json.__status || 400 }}"}}}],"connections":{"Webhook":{"main":[[{"node":"Validar Payload","type":"main","index":0}]]},"Validar Payload":{"main":[[{"node":"Payload Válido?","type":"main","index":0}]]},"Payload Válido?":{"main":[[{"node":"Responder Erro","type":"main","index":0}],[{"node":"Preparar Conteúdo","type":"main","index":0}]]},"Preparar Conteúdo":{"main":[[{"node":"Gemini — Extrair Transações","type":"main","index":0}]]},"Gemini — Extrair Transações":{"main":[[{"node":"Parsear Resposta Gemini","type":"main","index":0}]]},"Parsear Resposta Gemini":{"main":[[{"node":"Gemini Válido?","type":"main","index":0}]]},"Gemini Válido?":{"main":[[{"node":"Responder Erro","type":"main","index":0}],[{"node":"Validar Transações","type":"main","index":0}]]},"Validar Transações":{"main":[[{"node":"Tem Transações?","type":"main","index":0}]]},"Tem Transações?":{"main":[[{"node":"Split em Itens","type":"main","index":0}],[{"node":"Responder Zero","type":"main","index":0}]]},"Split em Itens":{"main":[[{"node":"Gemini — Classificar","type":"main","index":0}],[{"node":"Agregar Transações","type":"main","index":0}]]},"Gemini — Classificar":{"main":[[{"node":"Extrair Classificação","type":"main","index":0}]]},"Extrair Classificação":{"main":[[{"node":"Split em Itens","type":"main","index":0}]]},"Agregar Transações":{"main":[[{"node":"Inserir no Supabase","type":"main","index":0}]]},"Inserir no Supabase":{"main":[[{"node":"Responder Sucesso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"273c272f-46fa-4deb-8845-51d5da2a52b7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-18T22:19:16.537Z","createdAt":"2026-05-18T22:19:16.537Z","role":"workflow:owner","workflowId":"Sc3eDC6UOAECg5lG","projectId":"mGWO93tC2Ax1lk0N"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-04-11T18:06:30.000Z","createdAt":"2026-04-10T23:15:35.383Z","id":"U9Fl959qQ9OTamFK","name":"Finanças — Classificar e Alertar","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"financas","responseMode":"responseNode","options":{}},"id":"013eabd6-e04a-48c0-8d19-4cb5c3681bfe","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1680,128],"webhookId":"739ce482-11ba-4590-94b2-d2d3c3e434fc"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $env.GEMINI_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"6ee28045-1793-4aaf-b03b-8e999e3250c5","name":"Gemini — Classificar","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-1440,128]},{"parameters":{"jsCode":"const text = $input.item.json.candidates[0].content.parts[0].text;\nlet category = $('Webhook').item.json.body.category || 'Outros';\nlet essential = false;\ntry {\n  const cleaned = text.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  category = parsed.category || category;\n  essential = parsed.essential === true;\n} catch(e) {}\n\nconst body = $('Webhook').item.json.body;\nreturn [{ json: {\n  transaction_id: body.transaction_id,\n  user_id: body.user_id,\n  amount: parseFloat(body.amount),\n  type: body.type,\n  category,\n  essential\n}}];"},"id":"1aee8e0c-d02a-4def-a6ae-374a475a67ac","name":"Extrair Classificação","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,128]},{"parameters":{"operation":"executeQuery","query":"UPDATE transactions SET category = '{{ $json.category }}', essential = {{ $json.essential }} WHERE id = '{{ $json.transaction_id }}'","options":{}},"id":"9e66fbb0-1138-4006-bc40-99cc35d0d563","name":"Atualizar Transação","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-960,128]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  COALESCE(SUM(CASE WHEN type = 'income' THEN amount ELSE 0 END), 0) as renda,\n  COALESCE(SUM(CASE WHEN type = 'expense' AND essential = true THEN amount ELSE 0 END), 0) as gastos_essenciais,\n  COALESCE(SUM(CASE WHEN type = 'expense' THEN amount ELSE 0 END), 0) as total_gastos\nFROM transactions\nWHERE user_id = '{{ $('Extrair Classificação').item.json.user_id }}'\nAND date_trunc('month', date::date) = date_trunc('month', CURRENT_DATE)","options":{}},"id":"2a6827a3-cf3c-40cf-935b-1108bc248258","name":"Calcular Totais do Mês","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-720,128]},{"parameters":{"operation":"executeQuery","query":"SELECT monthly_limit, whatsapp FROM profiles WHERE id = '{{ $('Extrair Classificação').item.json.user_id }}'","options":{}},"id":"84ddd944-50ae-425b-945d-45aa959a002d","name":"Buscar Perfil","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-480,128]},{"parameters":{"jsCode":"const totais = $('Calcular Totais do Mês').item.json;\nconst perfil = $('Buscar Perfil').item.json;\nconst classif = $('Extrair Classificação').item.json;\n\nconst renda = parseFloat(totais.renda);\nconst gastos_essenciais = parseFloat(totais.gastos_essenciais);\nconst total_gastos = parseFloat(totais.total_gastos);\nconst saldo_restante = renda - total_gastos;\nconst percentual_gasto = renda > 0 ? Math.round((total_gastos / renda) * 100) : 0;\nconst monthly_limit = parseFloat(perfil.monthly_limit) || 0;\nconst limite_percentual = monthly_limit > 0 ? monthly_limit : renda * 0.8;\n\nreturn [{ json: {\n  renda,\n  gastos_essenciais,\n  total_gastos,\n  saldo_restante,\n  percentual_gasto,\n  category: classif.category,\n  essential: classif.essential,\n  alerta: total_gastos >= limite_percentual && perfil.whatsapp,\n  whatsapp: perfil.whatsapp,\n  monthly_limit: limite_percentual\n}}];"},"id":"df1b13eb-d6ba-436d-8bfa-04afb48a6319","name":"Montar Resposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,128]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, category: $json.category, essential: $json.essential, renda: $json.renda, gastos_essenciais: $json.gastos_essenciais, total_gastos: $json.total_gastos, saldo_restante: $json.saldo_restante, percentual_gasto: $json.percentual_gasto }) }}","options":{}},"id":"c4a29ab1-5ea5-4942-be4c-705b7781e237","name":"Responder ao Frontend","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"conditions":[{"id":"cond1","leftValue":"={{ $json.alerta }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"54ed05a3-992a-49f7-b176-3cff8cf67e73","name":"Limite Atingido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[0,240]},{"parameters":{"jsCode":"const d = $input.item.json;\nconst mes = new Date().toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });\nconst fmt = v => `R$ ${parseFloat(v).toFixed(2).replace('.', ',')}` ;\n\nconst msg = `⚠️ *Alerta Finanças Pessoais*\\n\\nVocê já gastou *${fmt(d.total_gastos)}* de *${fmt(d.renda)}* (${d.percentual_gasto}%)\\n\\n💰 Gastos essenciais: *${fmt(d.gastos_essenciais)}*\\n💳 Saldo restante: *${fmt(d.saldo_restante)}*\\n\\nCuidado com os gastos este mês! 💪`;\n\nreturn [{ json: { whatsapp: d.whatsapp, message: msg } }];"},"id":"a9a1ff6a-3f25-4ae3-a992-efff4ea02ba8","name":"Montar Alerta WhatsApp","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,160]},{"parameters":{"method":"POST","url":"http://localhost:8081/message/sendText/financas","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"bf90e157-add8-47f8-8e9d-6e8399a94f0b","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[480,160]}],"connections":{"Webhook":{"main":[[{"node":"Gemini — Classificar","type":"main","index":0}]]},"Gemini — Classificar":{"main":[[{"node":"Extrair Classificação","type":"main","index":0}]]},"Extrair Classificação":{"main":[[{"node":"Atualizar Transação","type":"main","index":0}]]},"Atualizar Transação":{"main":[[{"node":"Calcular Totais do Mês","type":"main","index":0}]]},"Calcular Totais do Mês":{"main":[[{"node":"Buscar Perfil","type":"main","index":0}]]},"Buscar Perfil":{"main":[[{"node":"Montar Resposta","type":"main","index":0}]]},"Montar Resposta":{"main":[[{"node":"Responder ao Frontend","type":"main","index":0}]]},"Limite Atingido?":{"main":[[{"node":"Montar Alerta WhatsApp","type":"main","index":0}]]},"Montar Alerta WhatsApp":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"f44dfd2b-1f8f-41bb-aaf7-bcebb5ae3d4b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-10T23:15:35.388Z","createdAt":"2026-04-10T23:15:35.388Z","role":"workflow:owner","workflowId":"U9Fl959qQ9OTamFK","projectId":"mGWO93tC2Ax1lk0N"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-04-30T00:46:46.608Z","createdAt":"2026-04-30T00:41:38.490Z","id":"jVOO2chYEiRYS8c3","name":"Importar Extrato","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"importar-extrato","responseMode":"responseNode","options":{}},"id":"87d5f710-cffd-4fc2-b6cb-ca4479e73a55","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2160,240],"webhookId":"f5eff057-d203-40e2-b124-e7d323c5338f"},{"parameters":{"jsCode":"const body = $input.item.json.body || {};\nconst requiredFields = ['user_id', 'file_type', 'content'];\n\nfor (const field of requiredFields) {\n  if (!body[field]) {\n    return [{ json: { __error: true, __status: 400, error: `Campo '${field}' ausente` } }];\n  }\n}\n\nreturn [{ json: { ...body, __error: false } }];"},"id":"40f9ad8c-36b7-47a2-8d5f-ccabe7ab5c18","name":"Validar Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,240]},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"cond-payload-error","leftValue":"={{ $json.__error === true }}","operator":{"operation":"equals","type":"boolean"},"rightValue":true}]},"options":{}},"id":"6e179ad9-e077-4f01-8ebb-fe48b2b3fd76","name":"Payload Válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1680,240]},{"parameters":{"jsCode":"const data = $input.item.json;\nconst { user_id, file_name, file_type, content } = data;\n\nlet prepared_content;\nif (file_type === 'pdf') {\n  prepared_content = Buffer.from(content, 'base64').toString('utf-8');\n} else {\n  prepared_content = content;\n}\n\nreturn [{ json: { user_id, file_name, file_type, prepared_content } }];"},"id":"f3de7e70-d3af-4e5b-8dcf-4f8cdc93b2d8","name":"Preparar Conteúdo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,128]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $env.GEMINI_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{},"body":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um parser de extratos bancários brasileiros.\\nAnalise o conteúdo abaixo e extraia TODAS as transações financeiras.\\n\\nRetorne APENAS um array JSON válido, sem markdown, sem explicações.\\nCada item deve ter exatamente estes campos:\\n- description: string\\n- amount: number (valor positivo)\\n- type: income ou expense\\n- date: YYYY-MM-DD\\n\\nSe nao houver transacoes, retorne: []\\n\\nConteudo:\\n{{ $json.prepared_content }}\"\n        }\n      ]\n    }\n  ]\n}","contentType":"raw","rawContentType":"application/json"},"id":"253b692f-aafd-4b39-b948-e41c6eae709c","name":"Gemini — Extrair Transações","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-1200,128]},{"parameters":{"jsCode":"const text = $input.item.json.candidates[0].content.parts[0].text;\nconst cleaned = text.replace(/```json|```/g, '').trim();\n\nlet parsedArray;\ntry {\n  parsedArray = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { __error: true, __status: 422, error: 'Não foi possível interpretar o extrato' } }];\n}\n\nif (!Array.isArray(parsedArray)) {\n  return [{ json: { __error: true, __status: 422, error: 'Não foi possível interpretar o extrato' } }];\n}\n\nconst user_id = $('Preparar Conteúdo').item.json.user_id;\nreturn [{ json: { transactions: parsedArray, user_id, __error: false } }];"},"id":"6841e1f1-ffa3-4393-84de-de357c997634","name":"Parsear Resposta Gemini","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,128]},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"cond-gemini-error","leftValue":"={{ $json.__error === true }}","operator":{"operation":"equals","type":"boolean"},"rightValue":true}]},"options":{}},"id":"ab2fcb64-eabc-482a-99b4-fc55e214d9b3","name":"Gemini Válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-720,128]},{"parameters":{"jsCode":"const { transactions, user_id } = $input.item.json;\n\nconst validTransactions = transactions.filter(t => {\n  const amountValid = typeof t.amount === 'number' && t.amount > 0;\n  const typeValid = t.type === 'income' || t.type === 'expense';\n  const dateValid = t.date && !isNaN(new Date(t.date).getTime());\n  return amountValid && typeValid && dateValid;\n});\n\nreturn [{ json: { validTransactions, user_id } }];"},"id":"dfb6d609-90a1-4056-a202-e8839843a9a3","name":"Validar Transações","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,64]},{"parameters":{"conditions":{"conditions":[{"id":"cond-has-transactions","leftValue":"={{ $json.validTransactions.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"7a09c06d-80e9-4e0a-82de-5f4f8325e241","name":"Tem Transações?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,64]},{"parameters":{"options":{}},"id":"57657555-34d5-49a6-b712-931fa2f3cb62","name":"Split em Itens","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $env.GEMINI_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{},"body":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analise esta transacao e retorne JSON.\\nDescricao: {{ $json.description }}\\nTipo: {{ $json.type }}\\nValor: {{ $json.amount }}\\n\\nCategorias: Salario, Freelance, Alimentacao, Moradia, Transporte, Saude, Educacao, Lazer, Outros\\nessential: true para necessidades basicas, false para entradas e lazer\\n\\nRetorne APENAS: {\\\"category\\\": \\\"NomeCategoria\\\", \\\"essential\\\": true}\"\n        }\n      ]\n    }\n  ]\n}","contentType":"raw","rawContentType":"application/json"},"id":"aeddbd73-d3bc-43a5-8ed6-39ff643a264a","name":"Gemini — Classificar","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[240,0]},{"parameters":{"jsCode":"const text = $input.item.json.candidates[0].content.parts[0].text;\nlet category = 'Outros';\nlet essential = false;\n\ntry {\n  const cleaned = text.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  category = parsed.category || 'Outros';\n  essential = parsed.essential === true;\n} catch (e) {}\n\n// Use $input.item.json directly — inside SplitInBatches the current item is the transaction\nconst transaction = $input.item.json;\nconst user_id = $('Validar Transações').item.json.user_id;\n\nreturn [{ json: {\n  user_id,\n  description: transaction.description,\n  amount: transaction.amount,\n  type: transaction.type,\n  date: transaction.date,\n  category,\n  essential\n} }];"},"id":"8b41e73f-ef7b-410d-a6b5-c2ecf1d81e3c","name":"Extrair Classificação","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"jsCode":"const allItems = $input.all();\nconst allTransactions = allItems.map(item => item.json);\n\nreturn [{ json: {\n  transactions: allTransactions,\n  user_id: allTransactions[0]?.user_id\n} }];"},"id":"87f566ed-2b8d-41cc-a0b6-ff51bc0cb926","name":"Agregar Transações","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0]},{"parameters":{"method":"POST","url":"https://unzbihwswuwypovleckc.supabase.co/rest/v1/transactions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"rawBody","options":{}},"id":"691df376-4218-4a95-a4e0-064766224187","name":"Inserir no Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[960,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, imported: Array.isArray($json) ? $json.length : 0 }) }}","options":{"responseCode":200}},"id":"4f536917-0ede-4708-8f0d-83240da7dcae","name":"Responder Sucesso","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, imported: 0 }) }}","options":{"responseCode":200}},"id":"f2744fdb-66ea-4af8-b1ef-96f742f340ce","name":"Responder Zero","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,240]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, error: $json.error || 'Erro interno' }) }}","options":{"responseCode":"={{ $json.__status || 400 }}"}},"id":"fadbe404-e93c-4de7-83e4-895ac77897e3","name":"Responder Erro","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-1440,432]}],"connections":{"Webhook":{"main":[[{"node":"Validar Payload","type":"main","index":0}]]},"Validar Payload":{"main":[[{"node":"Payload Válido?","type":"main","index":0}]]},"Payload Válido?":{"main":[[{"node":"Responder Erro","type":"main","index":0}],[{"node":"Preparar Conteúdo","type":"main","index":0}]]},"Preparar Conteúdo":{"main":[[{"node":"Gemini — Extrair Transações","type":"main","index":0}]]},"Gemini — Extrair Transações":{"main":[[{"node":"Parsear Resposta Gemini","type":"main","index":0}]]},"Parsear Resposta Gemini":{"main":[[{"node":"Gemini Válido?","type":"main","index":0}]]},"Gemini Válido?":{"main":[[{"node":"Responder Erro","type":"main","index":0}],[{"node":"Validar Transações","type":"main","index":0}]]},"Validar Transações":{"main":[[{"node":"Tem Transações?","type":"main","index":0}]]},"Tem Transações?":{"main":[[{"node":"Split em Itens","type":"main","index":0}],[{"node":"Responder Zero","type":"main","index":0}]]},"Split em Itens":{"main":[[{"node":"Gemini — Classificar","type":"main","index":0}],[{"node":"Agregar Transações","type":"main","index":0}]]},"Gemini — Classificar":{"main":[[{"node":"Extrair Classificação","type":"main","index":0}]]},"Extrair Classificação":{"main":[[{"node":"Split em Itens","type":"main","index":0}]]},"Agregar Transações":{"main":[[{"node":"Inserir no Supabase","type":"main","index":0}]]},"Inserir no Supabase":{"main":[[{"node":"Responder Sucesso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"8a77e6fe-2ff7-4342-b156-b071b601c1e4","activeVersionId":"8a77e6fe-2ff7-4342-b156-b071b601c1e4","triggerCount":1,"shared":[{"updatedAt":"2026-04-30T00:41:38.509Z","createdAt":"2026-04-30T00:41:38.509Z","role":"workflow:owner","workflowId":"jVOO2chYEiRYS8c3","projectId":"mGWO93tC2Ax1lk0N"}],"activeVersion":{"updatedAt":"2026-04-30T00:46:46.609Z","createdAt":"2026-04-30T00:46:46.609Z","versionId":"8a77e6fe-2ff7-4342-b156-b071b601c1e4","workflowId":"jVOO2chYEiRYS8c3","nodes":[{"parameters":{"httpMethod":"POST","path":"importar-extrato","responseMode":"responseNode","options":{}},"id":"87d5f710-cffd-4fc2-b6cb-ca4479e73a55","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2160,240],"webhookId":"f5eff057-d203-40e2-b124-e7d323c5338f"},{"parameters":{"jsCode":"const body = $input.item.json.body || {};\nconst requiredFields = ['user_id', 'file_type', 'content'];\n\nfor (const field of requiredFields) {\n  if (!body[field]) {\n    return [{ json: { __error: true, __status: 400, error: `Campo '${field}' ausente` } }];\n  }\n}\n\nreturn [{ json: { ...body, __error: false } }];"},"id":"40f9ad8c-36b7-47a2-8d5f-ccabe7ab5c18","name":"Validar Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,240]},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"cond-payload-error","leftValue":"={{ $json.__error === true }}","operator":{"operation":"equals","type":"boolean"},"rightValue":true}]},"options":{}},"id":"6e179ad9-e077-4f01-8ebb-fe48b2b3fd76","name":"Payload Válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1680,240]},{"parameters":{"jsCode":"const data = $input.item.json;\nconst { user_id, file_name, file_type, content } = data;\n\nlet prepared_content;\nif (file_type === 'pdf') {\n  prepared_content = Buffer.from(content, 'base64').toString('utf-8');\n} else {\n  prepared_content = content;\n}\n\nreturn [{ json: { user_id, file_name, file_type, prepared_content } }];"},"id":"f3de7e70-d3af-4e5b-8dcf-4f8cdc93b2d8","name":"Preparar Conteúdo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,128]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $env.GEMINI_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{},"body":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é um parser de extratos bancários brasileiros.\\nAnalise o conteúdo abaixo e extraia TODAS as transações financeiras.\\n\\nRetorne APENAS um array JSON válido, sem markdown, sem explicações.\\nCada item deve ter exatamente estes campos:\\n- description: string\\n- amount: number (valor positivo)\\n- type: income ou expense\\n- date: YYYY-MM-DD\\n\\nSe nao houver transacoes, retorne: []\\n\\nConteudo:\\n{{ $json.prepared_content }}\"\n        }\n      ]\n    }\n  ]\n}","contentType":"raw","rawContentType":"application/json"},"id":"253b692f-aafd-4b39-b948-e41c6eae709c","name":"Gemini — Extrair Transações","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-1200,128]},{"parameters":{"jsCode":"const text = $input.item.json.candidates[0].content.parts[0].text;\nconst cleaned = text.replace(/```json|```/g, '').trim();\n\nlet parsedArray;\ntry {\n  parsedArray = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { __error: true, __status: 422, error: 'Não foi possível interpretar o extrato' } }];\n}\n\nif (!Array.isArray(parsedArray)) {\n  return [{ json: { __error: true, __status: 422, error: 'Não foi possível interpretar o extrato' } }];\n}\n\nconst user_id = $('Preparar Conteúdo').item.json.user_id;\nreturn [{ json: { transactions: parsedArray, user_id, __error: false } }];"},"id":"6841e1f1-ffa3-4393-84de-de357c997634","name":"Parsear Resposta Gemini","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,128]},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"cond-gemini-error","leftValue":"={{ $json.__error === true }}","operator":{"operation":"equals","type":"boolean"},"rightValue":true}]},"options":{}},"id":"ab2fcb64-eabc-482a-99b4-fc55e214d9b3","name":"Gemini Válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-720,128]},{"parameters":{"jsCode":"const { transactions, user_id } = $input.item.json;\n\nconst validTransactions = transactions.filter(t => {\n  const amountValid = typeof t.amount === 'number' && t.amount > 0;\n  const typeValid = t.type === 'income' || t.type === 'expense';\n  const dateValid = t.date && !isNaN(new Date(t.date).getTime());\n  return amountValid && typeValid && dateValid;\n});\n\nreturn [{ json: { validTransactions, user_id } }];"},"id":"dfb6d609-90a1-4056-a202-e8839843a9a3","name":"Validar Transações","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,64]},{"parameters":{"conditions":{"conditions":[{"id":"cond-has-transactions","leftValue":"={{ $json.validTransactions.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"7a09c06d-80e9-4e0a-82de-5f4f8325e241","name":"Tem Transações?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,64]},{"parameters":{"options":{}},"id":"57657555-34d5-49a6-b712-931fa2f3cb62","name":"Split em Itens","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $env.GEMINI_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{},"body":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analise esta transacao e retorne JSON.\\nDescricao: {{ $json.description }}\\nTipo: {{ $json.type }}\\nValor: {{ $json.amount }}\\n\\nCategorias: Salario, Freelance, Alimentacao, Moradia, Transporte, Saude, Educacao, Lazer, Outros\\nessential: true para necessidades basicas, false para entradas e lazer\\n\\nRetorne APENAS: {\\\"category\\\": \\\"NomeCategoria\\\", \\\"essential\\\": true}\"\n        }\n      ]\n    }\n  ]\n}","contentType":"raw","rawContentType":"application/json"},"id":"aeddbd73-d3bc-43a5-8ed6-39ff643a264a","name":"Gemini — Classificar","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[240,0]},{"parameters":{"jsCode":"const text = $input.item.json.candidates[0].content.parts[0].text;\nlet category = 'Outros';\nlet essential = false;\n\ntry {\n  const cleaned = text.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  category = parsed.category || 'Outros';\n  essential = parsed.essential === true;\n} catch (e) {}\n\n// Use $input.item.json directly — inside SplitInBatches the current item is the transaction\nconst transaction = $input.item.json;\nconst user_id = $('Validar Transações').item.json.user_id;\n\nreturn [{ json: {\n  user_id,\n  description: transaction.description,\n  amount: transaction.amount,\n  type: transaction.type,\n  date: transaction.date,\n  category,\n  essential\n} }];"},"id":"8b41e73f-ef7b-410d-a6b5-c2ecf1d81e3c","name":"Extrair Classificação","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"jsCode":"const allItems = $input.all();\nconst allTransactions = allItems.map(item => item.json);\n\nreturn [{ json: {\n  transactions: allTransactions,\n  user_id: allTransactions[0]?.user_id\n} }];"},"id":"87f566ed-2b8d-41cc-a0b6-ff51bc0cb926","name":"Agregar Transações","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0]},{"parameters":{"method":"POST","url":"https://unzbihwswuwypovleckc.supabase.co/rest/v1/transactions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"rawBody","options":{}},"id":"691df376-4218-4a95-a4e0-064766224187","name":"Inserir no Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[960,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, imported: Array.isArray($json) ? $json.length : 0 }) }}","options":{"responseCode":200}},"id":"4f536917-0ede-4708-8f0d-83240da7dcae","name":"Responder Sucesso","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, imported: 0 }) }}","options":{"responseCode":200}},"id":"f2744fdb-66ea-4af8-b1ef-96f742f340ce","name":"Responder Zero","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,240]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, error: $json.error || 'Erro interno' }) }}","options":{"responseCode":"={{ $json.__status || 400 }}"}},"id":"fadbe404-e93c-4de7-83e4-895ac77897e3","name":"Responder Erro","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-1440,432]}],"connections":{"Webhook":{"main":[[{"node":"Validar Payload","type":"main","index":0}]]},"Validar Payload":{"main":[[{"node":"Payload Válido?","type":"main","index":0}]]},"Payload Válido?":{"main":[[{"node":"Responder Erro","type":"main","index":0}],[{"node":"Preparar Conteúdo","type":"main","index":0}]]},"Preparar Conteúdo":{"main":[[{"node":"Gemini — Extrair Transações","type":"main","index":0}]]},"Gemini — Extrair Transações":{"main":[[{"node":"Parsear Resposta Gemini","type":"main","index":0}]]},"Parsear Resposta Gemini":{"main":[[{"node":"Gemini Válido?","type":"main","index":0}]]},"Gemini Válido?":{"main":[[{"node":"Responder Erro","type":"main","index":0}],[{"node":"Validar Transações","type":"main","index":0}]]},"Validar Transações":{"main":[[{"node":"Tem Transações?","type":"main","index":0}]]},"Tem Transações?":{"main":[[{"node":"Split em Itens","type":"main","index":0}],[{"node":"Responder Zero","type":"main","index":0}]]},"Split em Itens":{"main":[[{"node":"Gemini — Classificar","type":"main","index":0}],[{"node":"Agregar Transações","type":"main","index":0}]]},"Gemini — Classificar":{"main":[[{"node":"Extrair Classificação","type":"main","index":0}]]},"Extrair Classificação":{"main":[[{"node":"Split em Itens","type":"main","index":0}]]},"Agregar Transações":{"main":[[{"node":"Inserir no Supabase","type":"main","index":0}]]},"Inserir no Supabase":{"main":[[{"node":"Responder Sucesso","type":"main","index":0}]]}},"authors":"Matheus Pedrini","name":null,"description":null,"autosaved":false},"tags":[]},{"updatedAt":"2026-04-29T23:13:38.175Z","createdAt":"2026-04-29T23:13:25.288Z","id":"srN6oygcpaTL7t5r","name":"Finanças — Alerta de Meta Concluída","active":true,"isArchived":false,"nodes":[{"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"meta-concluida","responseMode":"lastNode"},"webhookId":"39204148-f4ee-4fa0-9496-da3c0b846cf6"},{"id":"2","name":"Buscar Perfil","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,300],"parameters":{"operation":"get","tableId":"profiles","filters":{"conditions":[{"condition":"eq","keyName":"id","keyValue":"={{ $json.body.user_id }}"}]}},"credentials":{"supabaseApi":{"id":"BUSteCNQJDLV7jjw","name":"Supabase API"}}},{"id":"3","name":"Deve Notificar?","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300],"parameters":{"jsCode":"const perfil = $('Buscar Perfil').item.json;\nconst body = $('Webhook').item.json.body;\n\nif (!perfil.notify_whatsapp || !perfil.whatsapp) {\n  return [];\n}\n\nconst fmt = v => `R$ ${parseFloat(v).toFixed(2).replace('.', ',')}`;\nconst msg = `🎯 *Meta Concluída!*\\n\\nParabéns! Você atingiu sua meta *${body.meta_name}*!\\n\\n💰 Valor acumulado: *${fmt(body.total)}*\\n🏆 Meta: *${fmt(body.target)}*\\n\\nContinue assim! 💪`;\n\nreturn [{ json: { whatsapp: perfil.whatsapp, message: msg } }];"}},{"id":"4","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[960,300],"parameters":{"method":"POST","url":"http://localhost:8081/message/sendText/financas","sendBody":true,"contentType":"json","body":{"number":"={{ $json.whatsapp }}","text":"={{ $json.message }}"}}}],"connections":{"Webhook":{"main":[[{"node":"Buscar Perfil","type":"main","index":0}]]},"Buscar Perfil":{"main":[[{"node":"Deve Notificar?","type":"main","index":0}]]},"Deve Notificar?":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"5b7ec086-1117-40cc-b0d1-edf76cd0e9e2","activeVersionId":"5b7ec086-1117-40cc-b0d1-edf76cd0e9e2","triggerCount":1,"shared":[{"updatedAt":"2026-04-29T23:13:25.296Z","createdAt":"2026-04-29T23:13:25.296Z","role":"workflow:owner","workflowId":"srN6oygcpaTL7t5r","projectId":"mGWO93tC2Ax1lk0N"}],"activeVersion":{"updatedAt":"2026-04-29T23:13:25.306Z","createdAt":"2026-04-29T23:13:25.306Z","versionId":"5b7ec086-1117-40cc-b0d1-edf76cd0e9e2","workflowId":"srN6oygcpaTL7t5r","nodes":[{"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"meta-concluida","responseMode":"lastNode"},"webhookId":"39204148-f4ee-4fa0-9496-da3c0b846cf6"},{"id":"2","name":"Buscar Perfil","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,300],"parameters":{"operation":"get","tableId":"profiles","filters":{"conditions":[{"condition":"eq","keyName":"id","keyValue":"={{ $json.body.user_id }}"}]}},"credentials":{"supabaseApi":{"id":"BUSteCNQJDLV7jjw","name":"Supabase API"}}},{"id":"3","name":"Deve Notificar?","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300],"parameters":{"jsCode":"const perfil = $('Buscar Perfil').item.json;\nconst body = $('Webhook').item.json.body;\n\nif (!perfil.notify_whatsapp || !perfil.whatsapp) {\n  return [];\n}\n\nconst fmt = v => `R$ ${parseFloat(v).toFixed(2).replace('.', ',')}`;\nconst msg = `🎯 *Meta Concluída!*\\n\\nParabéns! Você atingiu sua meta *${body.meta_name}*!\\n\\n💰 Valor acumulado: *${fmt(body.total)}*\\n🏆 Meta: *${fmt(body.target)}*\\n\\nContinue assim! 💪`;\n\nreturn [{ json: { whatsapp: perfil.whatsapp, message: msg } }];"}},{"id":"4","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[960,300],"parameters":{"method":"POST","url":"http://localhost:8081/message/sendText/financas","sendBody":true,"contentType":"json","body":{"number":"={{ $json.whatsapp }}","text":"={{ $json.message }}"}}}],"connections":{"Webhook":{"main":[[{"node":"Buscar Perfil","type":"main","index":0}]]},"Buscar Perfil":{"main":[[{"node":"Deve Notificar?","type":"main","index":0}]]},"Deve Notificar?":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}]]}},"authors":"Matheus Pedrini","name":null,"description":null,"autosaved":false},"tags":[]},{"updatedAt":"2026-04-29T22:58:12.719Z","createdAt":"2026-04-10T21:59:40.921Z","id":"zDBiE7u9sf5WVaa8","name":"Finanças — Classificar e Alertar","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"financas","responseMode":"responseNode","options":{}},"id":"b868b3bf-6530-44a1-b9af-bf5041282faa","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1680,128],"webhookId":"8c299071-2cce-4ee2-8378-07fffe28c356"},{"parameters":{"operation":"update","tableId":"transactions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.transaction_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"category","fieldValue":"={{ (() => { try { const t = $('Basic LLM Chain').item.json.text; return JSON.parse(t.replace(/```json|```/g,'').trim()).category || $('Webhook').item.json.body.category; } catch(e) { return $('Webhook').item.json.body.category || 'Outros'; } })() }}"},{"fieldId":"essential","fieldValue":"={{ (() => { try { const t = $('Basic LLM Chain').item.json.text; return JSON.parse(t.replace(/```json|```/g,'').trim()).essential === true; } catch(e) { return false; } })() }}"}]}},"id":"ea42619d-0349-4e0e-8ac4-f5c27324c9ae","name":"Atualizar Transação","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,128],"credentials":{"supabaseApi":{"id":"BUSteCNQJDLV7jjw","name":"Supabase API"}}},{"parameters":{"operation":"getAll","tableId":"transactions","returnAll":true,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.user_id }}"}]}},"id":"382d2d78-df6b-47a1-915c-d228837d34da","name":"Calcular Totais do Mês","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,128],"credentials":{"supabaseApi":{"id":"BUSteCNQJDLV7jjw","name":"Supabase API"}}},{"parameters":{"operation":"get","tableId":"profiles","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.user_id }}"}]}},"id":"33adf75e-c839-4a7c-b514-309544bd3ba5","name":"Buscar Perfil","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,128],"credentials":{"supabaseApi":{"id":"BUSteCNQJDLV7jjw","name":"Supabase API"}}},{"parameters":{"jsCode":"const transactions = $('Calcular Totais do Mês').all().map(i => i.json);\nconst perfilItems = $('Buscar Perfil').all();\nconst perfil = perfilItems.length > 0 ? perfilItems[0].json : { monthly_limit: 0, whatsapp: null, notify_whatsapp: false };\n\nconst now = new Date();\nconst currentMonth = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}`;\nconst monthTx = transactions.filter(t => t.date && t.date.startsWith(currentMonth));\n\nconst renda = monthTx.filter(t => t.type === 'income').reduce((s, t) => s + parseFloat(t.amount), 0);\nconst gastos_essenciais = monthTx.filter(t => t.type === 'expense' && t.essential).reduce((s, t) => s + parseFloat(t.amount), 0);\nconst total_gastos = monthTx.filter(t => t.type === 'expense').reduce((s, t) => s + parseFloat(t.amount), 0);\nconst saldo_restante = renda - total_gastos;\nconst percentual_gasto = renda > 0 ? Math.round((total_gastos / renda) * 100) : 0;\nconst monthly_limit = parseFloat(perfil.monthly_limit) || 0;\nconst limite_percentual = monthly_limit > 0 ? monthly_limit : renda * 0.8;\n\nlet category = $('Webhook').item.json.body.category || 'Outros';\nlet essential = false;\ntry {\n  const raw = $('Basic LLM Chain').item.json.text;\n  const parsed = JSON.parse(raw.replace(/```json|```/g,'').trim());\n  category = parsed.category || category;\n  essential = parsed.essential === true;\n} catch(e) {}\n\nconst deveAlertar = total_gastos >= limite_percentual && perfil.whatsapp && perfil.notify_whatsapp === true;\n\nreturn [{ json: {\n  renda, gastos_essenciais, total_gastos, saldo_restante, percentual_gasto,\n  category, essential,\n  alerta: deveAlertar,\n  whatsapp: perfil.whatsapp,\n  monthly_limit: limite_percentual\n}}];"},"id":"87d850d8-1429-4a89-b0f3-99d628bcdac0","name":"Montar Resposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,128]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, category: $json.category, essential: $json.essential, renda: $json.renda, gastos_essenciais: $json.gastos_essenciais, total_gastos: $json.total_gastos, saldo_restante: $json.saldo_restante, percentual_gasto: $json.percentual_gasto }) }}","options":{}},"id":"354bc7da-1945-42f4-9412-b9e16eaddcd3","name":"Responder ao Frontend","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond1","leftValue":"={{ $json.alerta }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"e7bc7431-2456-4e59-9013-593ab248918a","name":"Limite Atingido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[0,240]},{"parameters":{"jsCode":"const d = $input.item.json;\nconst mes = new Date().toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });\nconst fmt = v => `R$ ${parseFloat(v).toFixed(2).replace('.', ',')}` ;\n\nconst msg = `⚠️ *Alerta Finanças Pessoais*\\n\\nVocê já gastou *${fmt(d.total_gastos)}* de *${fmt(d.renda)}* (${d.percentual_gasto}%)\\n\\n💰 Gastos essenciais: *${fmt(d.gastos_essenciais)}*\\n💳 Saldo restante: *${fmt(d.saldo_restante)}*\\n\\nCuidado com os gastos este mês! 💪`;\n\nreturn [{ json: { whatsapp: d.whatsapp, message: msg } }];"},"id":"a2540be4-48a9-48b2-a148-7d7c987da969","name":"Montar Alerta WhatsApp","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,160]},{"parameters":{"method":"POST","url":"http://localhost:8081/message/sendText/financas","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"a3b03518-1b11-479a-af72-843c0855a44a","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[480,160]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1568,352],"id":"bfc4a236-a85f-4d5a-9705-6957b47228c2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"qFfjFctWdAvILefA","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Você é um assistente financeiro especializado em classificação de transações brasileiras.\nClassifique a transação abaixo e retorne APENAS um JSON válido, sem explicações, sem markdown, sem texto adicional.\n\n## Transação\n- Descrição: {{ $json.body.description }}\n- Tipo: {{ $json.body.type }}\n- Valor: R$ {{ $json.body.amount }}\n\n## Categorias disponíveis\nEntradas: Salário, Freelance\nSaídas: Alimentação, Moradia, Transporte, Saúde, Educação, Lazer, Outros\n\n## Regras de classificação\n- Se o tipo for \"income\" → use Salário ou Freelance\n- Se o tipo for \"expense\" → escolha entre as categorias de saída\n- essential: true → gastos de necessidade básica (Alimentação, Moradia, Transporte, Saúde, Educação)\n- essential: false → entradas e gastos opcionais (Lazer, Outros)\n\n## Exemplos\nDescrição: \"ifood\", Tipo: expense → {\"category\": \"Alimentação\", \"essential\": true}\nDescrição: \"netflix\", Tipo: expense → {\"category\": \"Lazer\", \"essential\": false}\nDescrição: \"pagamento cliente\", Tipo: income → {\"category\": \"Freelance\", \"essential\": false}\nDescrição: \"uber\", Tipo: expense → {\"category\": \"Transporte\", \"essential\": true}\n\n## Formato de saída obrigatório\n{\"category\": \"NomeCategoria\", \"essential\": true}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1472,128],"id":"6ba2e7ef-fc38-46fd-9883-e6ef119c0910","name":"Basic LLM Chain"}],"connections":{"Webhook":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Atualizar Transação":{"main":[[{"node":"Calcular Totais do Mês","type":"main","index":0}]]},"Calcular Totais do Mês":{"main":[[{"node":"Buscar Perfil","type":"main","index":0}]]},"Buscar Perfil":{"main":[[{"node":"Montar Resposta","type":"main","index":0}]]},"Montar Resposta":{"main":[[{"node":"Responder ao Frontend","type":"main","index":0},{"node":"Limite Atingido?","type":"main","index":0}]]},"Limite Atingido?":{"main":[[{"node":"Montar Alerta WhatsApp","type":"main","index":0}]]},"Montar Alerta WhatsApp":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Atualizar Transação","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2411c23b-bf1d-40cc-bd81-b56358265fd2","activeVersionId":"2411c23b-bf1d-40cc-bd81-b56358265fd2","triggerCount":1,"shared":[{"updatedAt":"2026-04-10T21:59:40.926Z","createdAt":"2026-04-10T21:59:40.926Z","role":"workflow:owner","workflowId":"zDBiE7u9sf5WVaa8","projectId":"mGWO93tC2Ax1lk0N"}],"activeVersion":{"updatedAt":"2026-04-29T22:58:12.728Z","createdAt":"2026-04-29T22:58:12.728Z","versionId":"2411c23b-bf1d-40cc-bd81-b56358265fd2","workflowId":"zDBiE7u9sf5WVaa8","nodes":[{"parameters":{"httpMethod":"POST","path":"financas","responseMode":"responseNode","options":{}},"id":"b868b3bf-6530-44a1-b9af-bf5041282faa","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1680,128],"webhookId":"8c299071-2cce-4ee2-8378-07fffe28c356"},{"parameters":{"operation":"update","tableId":"transactions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.transaction_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"category","fieldValue":"={{ (() => { try { const t = $('Basic LLM Chain').item.json.text; return JSON.parse(t.replace(/```json|```/g,'').trim()).category || $('Webhook').item.json.body.category; } catch(e) { return $('Webhook').item.json.body.category || 'Outros'; } })() }}"},{"fieldId":"essential","fieldValue":"={{ (() => { try { const t = $('Basic LLM Chain').item.json.text; return JSON.parse(t.replace(/```json|```/g,'').trim()).essential === true; } catch(e) { return false; } })() }}"}]}},"id":"ea42619d-0349-4e0e-8ac4-f5c27324c9ae","name":"Atualizar Transação","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,128],"credentials":{"supabaseApi":{"id":"BUSteCNQJDLV7jjw","name":"Supabase API"}}},{"parameters":{"operation":"getAll","tableId":"transactions","returnAll":true,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.user_id }}"}]}},"id":"382d2d78-df6b-47a1-915c-d228837d34da","name":"Calcular Totais do Mês","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,128],"credentials":{"supabaseApi":{"id":"BUSteCNQJDLV7jjw","name":"Supabase API"}}},{"parameters":{"operation":"get","tableId":"profiles","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.user_id }}"}]}},"id":"33adf75e-c839-4a7c-b514-309544bd3ba5","name":"Buscar Perfil","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,128],"credentials":{"supabaseApi":{"id":"BUSteCNQJDLV7jjw","name":"Supabase API"}}},{"parameters":{"jsCode":"const transactions = $('Calcular Totais do Mês').all().map(i => i.json);\nconst perfilItems = $('Buscar Perfil').all();\nconst perfil = perfilItems.length > 0 ? perfilItems[0].json : { monthly_limit: 0, whatsapp: null, notify_whatsapp: false };\n\nconst now = new Date();\nconst currentMonth = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}`;\nconst monthTx = transactions.filter(t => t.date && t.date.startsWith(currentMonth));\n\nconst renda = monthTx.filter(t => t.type === 'income').reduce((s, t) => s + parseFloat(t.amount), 0);\nconst gastos_essenciais = monthTx.filter(t => t.type === 'expense' && t.essential).reduce((s, t) => s + parseFloat(t.amount), 0);\nconst total_gastos = monthTx.filter(t => t.type === 'expense').reduce((s, t) => s + parseFloat(t.amount), 0);\nconst saldo_restante = renda - total_gastos;\nconst percentual_gasto = renda > 0 ? Math.round((total_gastos / renda) * 100) : 0;\nconst monthly_limit = parseFloat(perfil.monthly_limit) || 0;\nconst limite_percentual = monthly_limit > 0 ? monthly_limit : renda * 0.8;\n\nlet category = $('Webhook').item.json.body.category || 'Outros';\nlet essential = false;\ntry {\n  const raw = $('Basic LLM Chain').item.json.text;\n  const parsed = JSON.parse(raw.replace(/```json|```/g,'').trim());\n  category = parsed.category || category;\n  essential = parsed.essential === true;\n} catch(e) {}\n\nconst deveAlertar = total_gastos >= limite_percentual && perfil.whatsapp && perfil.notify_whatsapp === true;\n\nreturn [{ json: {\n  renda, gastos_essenciais, total_gastos, saldo_restante, percentual_gasto,\n  category, essential,\n  alerta: deveAlertar,\n  whatsapp: perfil.whatsapp,\n  monthly_limit: limite_percentual\n}}];"},"id":"87d850d8-1429-4a89-b0f3-99d628bcdac0","name":"Montar Resposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,128]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, category: $json.category, essential: $json.essential, renda: $json.renda, gastos_essenciais: $json.gastos_essenciais, total_gastos: $json.total_gastos, saldo_restante: $json.saldo_restante, percentual_gasto: $json.percentual_gasto }) }}","options":{}},"id":"354bc7da-1945-42f4-9412-b9e16eaddcd3","name":"Responder ao Frontend","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond1","leftValue":"={{ $json.alerta }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"e7bc7431-2456-4e59-9013-593ab248918a","name":"Limite Atingido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[0,240]},{"parameters":{"jsCode":"const d = $input.item.json;\nconst mes = new Date().toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });\nconst fmt = v => `R$ ${parseFloat(v).toFixed(2).replace('.', ',')}` ;\n\nconst msg = `⚠️ *Alerta Finanças Pessoais*\\n\\nVocê já gastou *${fmt(d.total_gastos)}* de *${fmt(d.renda)}* (${d.percentual_gasto}%)\\n\\n💰 Gastos essenciais: *${fmt(d.gastos_essenciais)}*\\n💳 Saldo restante: *${fmt(d.saldo_restante)}*\\n\\nCuidado com os gastos este mês! 💪`;\n\nreturn [{ json: { whatsapp: d.whatsapp, message: msg } }];"},"id":"a2540be4-48a9-48b2-a148-7d7c987da969","name":"Montar Alerta WhatsApp","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,160]},{"parameters":{"method":"POST","url":"http://localhost:8081/message/sendText/financas","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"a3b03518-1b11-479a-af72-843c0855a44a","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[480,160]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1568,352],"id":"bfc4a236-a85f-4d5a-9705-6957b47228c2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"qFfjFctWdAvILefA","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Você é um assistente financeiro especializado em classificação de transações brasileiras.\nClassifique a transação abaixo e retorne APENAS um JSON válido, sem explicações, sem markdown, sem texto adicional.\n\n## Transação\n- Descrição: {{ $json.body.description }}\n- Tipo: {{ $json.body.type }}\n- Valor: R$ {{ $json.body.amount }}\n\n## Categorias disponíveis\nEntradas: Salário, Freelance\nSaídas: Alimentação, Moradia, Transporte, Saúde, Educação, Lazer, Outros\n\n## Regras de classificação\n- Se o tipo for \"income\" → use Salário ou Freelance\n- Se o tipo for \"expense\" → escolha entre as categorias de saída\n- essential: true → gastos de necessidade básica (Alimentação, Moradia, Transporte, Saúde, Educação)\n- essential: false → entradas e gastos opcionais (Lazer, Outros)\n\n## Exemplos\nDescrição: \"ifood\", Tipo: expense → {\"category\": \"Alimentação\", \"essential\": true}\nDescrição: \"netflix\", Tipo: expense → {\"category\": \"Lazer\", \"essential\": false}\nDescrição: \"pagamento cliente\", Tipo: income → {\"category\": \"Freelance\", \"essential\": false}\nDescrição: \"uber\", Tipo: expense → {\"category\": \"Transporte\", \"essential\": true}\n\n## Formato de saída obrigatório\n{\"category\": \"NomeCategoria\", \"essential\": true}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1472,128],"id":"6ba2e7ef-fc38-46fd-9883-e6ef119c0910","name":"Basic LLM Chain"}],"connections":{"Webhook":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Atualizar Transação":{"main":[[{"node":"Calcular Totais do Mês","type":"main","index":0}]]},"Calcular Totais do Mês":{"main":[[{"node":"Buscar Perfil","type":"main","index":0}]]},"Buscar Perfil":{"main":[[{"node":"Montar Resposta","type":"main","index":0}]]},"Montar Resposta":{"main":[[{"node":"Responder ao Frontend","type":"main","index":0},{"node":"Limite Atingido?","type":"main","index":0}]]},"Limite Atingido?":{"main":[[{"node":"Montar Alerta WhatsApp","type":"main","index":0}]]},"Montar Alerta WhatsApp":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Atualizar Transação","type":"main","index":0}]]}},"authors":"Matheus Pedrini","name":null,"description":null,"autosaved":false},"tags":[]}],"nextCursor":null}