n8n/workflow-importar-extrato.json
{
  "name": "Importar Extrato (Otimizado v2)",
  "nodes": [
    {
      "id": "node1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "importar-extrato",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node2",
      "name": "Validar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst requiredFields = ['user_id', 'file_type', 'content'];\n\nfor (const field of requiredFields) {\n  if (!body[field]) {\n    return [{ json: { __error: true, __status: 400, error: `Campo '${field}' ausente` } }];\n  }\n}\n\nreturn [{ json: { ...body, __error: false } }];"
      }
    },
    {
      "id": "node2b",
      "name": "Payload Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-payload-error",
              "leftValue": "={{ $json.__error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node3",
      "name": "Preparar Payload Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 180],
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst { user_id, file_name, file_type, content } = data;\n\nconst promptText = `Você é um parser de extratos bancários brasileiros.\\nAnalise o conteúdo do extrato e extraia TODAS as transações financeiras.\\n\\nRetorne APENAS um array JSON válido, sem markdown, sem bloco de código, sem explicações.\\nCada item deve ter exatamente estes campos:\\n- description: string (nome curto do estabelecimento ou transação)\\n- amount: number (valor numérico positivo. ex: 15.50)\\n- type: 'income' (entradas) ou 'expense' (saídas)\\n- category: string (classifique como 'Alimentação', 'Moradia', 'Transporte', 'Lazer', 'Saúde', 'Salário' ou 'Outros')\\n- essential: boolean (true se for sobrevivência básica, false caso contrário)\\n- date: YYYY-MM-DD\\n\\nSe não houver transações, retorne: []`;\n\nconst parts = [{ text: promptText }];\n\nif (file_type === 'pdf') {\n  parts.push({\n    inlineData: {\n      mimeType: 'application/pdf',\n      data: content\n    }\n  });\n} else {\n  const textContent = Buffer.from(content, 'base64').toString('utf-8');\n  parts.push({\n    text: `Conteúdo do Extrato:\\n${textContent}`\n  });\n}\n\nconst geminiPayload = {\n  contents: [{ parts: parts }],\n  generationConfig: { responseMimeType: \"application/json\" }\n};\n\nreturn [{ json: { user_id, file_name, file_type, geminiPayload } }];"
      }
    },
    {
      "id": "node4",
      "name": "Gemini API (Via HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 180],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "rawBody",
        "body": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {}
      }
    },
    {
      "id": "node5",
      "name": "Parsear Resposta Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 180],
      "parameters": {
        "jsCode": "const text = $input.item.json.candidates[0].content.parts[0].text;\nlet parsedArray;\ntry {\n  parsedArray = JSON.parse(text);\n} catch (e) {\n  return [{ json: { __error: true, __status: 422, error: 'Não foi possível interpretar o extrato' } }];\n}\n\nif (!Array.isArray(parsedArray)) {\n  return [{ json: { __error: true, __status: 422, error: 'Não foi possível interpretar o extrato' } }];\n}\n\nif (parsedArray.length > 500) {\n  return [{ json: { __error: true, __status: 422, error: 'Extrato contém mais de 500 transações. Divida o arquivo.' } }];\n}\n\nconst validItems = parsedArray.filter(t => {\n  if (typeof t !== 'object' || t === null) return false;\n  if (typeof t.description !== 'string') return false;\n  if (typeof t.amount !== 'number') return false;\n  if (t.type !== 'income' && t.type !== 'expense') return false;\n  return true;\n});\n\nconst user_id = $('Preparar Payload Gemini').item.json.user_id;\nreturn [{ json: { transactions: validItems, user_id, __error: false } }];"
      }
    },
    {
      "id": "node5b",
      "name": "Gemini Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 180],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-gemini-error",
              "leftValue": "={{ $json.__error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node6",
      "name": "Validar Transações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 120],
      "parameters": {
        "jsCode": "const { transactions, user_id } = $input.item.json;\nconst validTransactions = transactions;\nreturn [{ json: { validTransactions, user_id } }];"
      }
    },
    {
      "id": "node7",
      "name": "Tem Transações?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, 120],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-has-transactions",
              "leftValue": "={{ $json.validTransactions.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node12",
      "name": "Inserir no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2160, 60],
      "parameters": {
        "method": "POST",
        "url": "https://unzbihwswuwypovleckc.supabase.co/rest/v1/transactions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "rawBody",
        "body": "={{ JSON.stringify($json.validTransactions.map(t => Object.assign({}, t, { user_id: $json.user_id }))) }}",
        "options": {}
      }
    },
    {
      "id": "node13",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2400, 60],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, imported: Array.isArray($json) ? $json.length : 0 }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "node14",
      "name": "Responder Zero",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2160, 240],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, imported: 0 }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "node15",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Erro interno' }) }}",
        "options": { "responseCode": "={{ $json.__status || 400 }}" }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [ [ { "node": "Validar Payload", "type": "main", "index": 0 } ] ]
    },
    "Validar Payload": {
      "main": [ [ { "node": "Payload Válido?", "type": "main", "index": 0 } ] ]
    },
    "Payload Válido?": {
      "main": [
        [ { "node": "Responder Erro", "type": "main", "index": 0 } ],
        [ { "node": "Preparar Payload Gemini", "type": "main", "index": 0 } ]
      ]
    },
    "Preparar Payload Gemini": {
      "main": [ [ { "node": "Gemini API (Via HTTP)", "type": "main", "index": 0 } ] ]
    },
    "Gemini API (Via HTTP)": {
      "main": [ [ { "node": "Parsear Resposta Gemini", "type": "main", "index": 0 } ] ]
    },
    "Parsear Resposta Gemini": {
      "main": [ [ { "node": "Gemini Válido?", "type": "main", "index": 0 } ] ]
    },
    "Gemini Válido?": {
      "main": [
        [ { "node": "Responder Erro", "type": "main", "index": 0 } ],
        [ { "node": "Validar Transações", "type": "main", "index": 0 } ]
      ]
    },
    "Validar Transações": {
      "main": [ [ { "node": "Tem Transações?", "type": "main", "index": 0 } ] ]
    },
    "Tem Transações?": {
      "main": [
        [ { "node": "Inserir no Supabase", "type": "main", "index": 0 } ],
        [ { "node": "Responder Zero", "type": "main", "index": 0 } ]
      ]
    },
    "Inserir no Supabase": {
      "main": [ [ { "node": "Responder Sucesso", "type": "main", "index": 0 } ] ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
